[Desktop Entry]
Name=Gfcc
Comment=GTK firewall control center
Comment[pl]=Centrum kontroli 'ściany przeciwogniowej'
Icon=gfcc.png
Exec=gfcc
Terminal=0
Type=Application
# vi: encoding=utf-8
