[Desktop Entry]
Name=Gfcc
Comment=GTK firewall control center
Comment[pl]=Centrum kontroli 'ściany przeciwogniowej'
Icon=gfcc.png
Exec=gfcc
Terminal=false
Type=Application
Encoding=UTF-8
Categories=SystemSetup;
# vi: encoding=utf-8
