[Desktop Entry]
Name=Gfcc
Comment=GTK firewall control center
Comment[pl]=Centrum kontroli 'ściany przeciwogniowej'
Icon=gfcc
Exec=gfcc
Terminal=false
Type=Application
Categories=GTK;System;X-Administration;
# vi: encoding=utf-8
